/* light blue #34D1D1 */
/* dark purple #2F2235 */
/* lighter dark purple  */
/* offwhite #F2F2F2 */
/* white/gray #D1D2D3 */
/* gray #666666 */
/* black #000000 */

body {
  background: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}

.header--bar {
  background: #2F2235;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;

}

.app--title {
  color: #F2F2F2;
  font-weight: 300;
  /* display: inline-block; */
}

.app--title-right {
  color: #34D1D1;
}

.header--user-name {
  color: #F2F2F2;
  /* display: inline-block; */
}

.main--content-container {
  padding: 40px;
}

.main--accordian-title {
  display: inline-block;
  font-size: 12px;
  color: #666666;
}

.main--accordian-line {
  width: calc(92% - 100px);
  margin-left: 20px;
  display: inline-block;
  vertical-align: sub;
}

.content--tabs {
  display: flex;
  width: 95%;
  justify-content: space-around;
  border-radius: 2px;
  margin-top: 50px;
}

.tab {
  border-top: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
  border-radius: 2px;
  border-radius: 2px;
  padding: 10px;
  width: calc(23.75% - 1px);
  text-align: center;
  color: #666666;
  margin: 0px 1px;
}

.selected {
  border: 1px solid #D1D2D3;
  border-bottom: 1px solid transparent;
  border-radius: 3px;
}

.unselected {
  background: #D1D2D3;
}

.image--content-container {
  border-bottom: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  display: flex;
  width: calc(94.8% - 42px);
  padding: 20px;
  margin: -1px 1px;
}

.inactive {
  display: none;
}

img {
  height: 240px;
}

.tab--content-container {
  padding: 15px;
}

.tab--title {
  font-weight: 600;
}

.tab--paragraph {
  margin-top: 15px;
}

.mid-section {
  display: flex;
  flex-direction: column;
}

.view-code-btn {
  margin: auto;
  font-weight: lighter;
  color: #fff;
  padding: 10px 70px;
  background: #2F2235;
}

.flex-cards-header {
  display: flex;
  padding: 20px;
}

.flexible-hr {
  color: gray;
  width: 75%;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
}

.outsider {
  background: #fff;
  width: 423px;
  margin: 15px;
  border: 1px solid lightgray;
}

.outside {
  background: #fff;
  width: 215px;
  margin: 15px;
  border: 1px solid lightgray;
}

.flex-card-title {
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
}

.insider { 
  background-image: url(./resources/wide-x.png);
  height: 139px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.inside {
  background-image: url('./resources/x.png');
  height: 139px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  background: #b7b3b3;
  padding: 20px;
  width: 88%;
  margin: 0 5% 20px;
}

.nav-x {
  background: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  z-index: 10;
  border: 1px solid gray;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 60%;

}

@media screen and (max-width: 810px) {
  .image--content-container {
    flex-direction: column;
  }

  .main--content-container {
    padding: 100px;
  }

  .main-image {
    width: 240px;
    margin: auto;
  }
}