/* light blue #34D1D1 */
/* dark purple #2F2235 */
/* lighter dark purple  */
/* offwhite #F2F2F2 */
/* white/gray #D1D2D3 */
/* gray #666666 */
/* black #000000 */

body {
  background: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}

.header--bar {
  background: #2F2235;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;

}

.app--title {
  color: #F2F2F2;
  font-weight: 300;
  /* display: inline-block; */
}

.app--title-right {
  color: #34D1D1;
}

.header--user-name {
  color: #F2F2F2;
  /* display: inline-block; */
}

.main--content-container {
  padding: 40px;
}

.main--accordian-title {
  display: inline-block;
  font-size: 12px;
  color: #666666;
}

.main--accordian-line {
  width: calc(92% - 100px);
  margin-left: 20px;
  display: inline-block;
  vertical-align: sub;
}

.content--tabs {
  display: flex;
  width: 95%;
  justify-content: space-around;
  border-radius: 2px;
  margin-top: 50px;
}

.tab {
  border-top: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
  border-radius: 2px;
  border-radius: 2px;
  padding: 10px;
  width: calc(23.75% - 1px);
  text-align: center;
  color: #666666;
}

.selected {
  border: 1px solid #D1D2D3;
  border-bottom: 1px solid transparent;
  border-radius: 3px;
}

.unselected {
  background: #D1D2D3;
}

.image--content-container {
  border-bottom: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  display: flex;
  width: calc(94.8% - 40px);
  padding: 20px;
}

img {
  height: 240px;
}

.tab--content-container {
  padding: 15px;
}

.tab--title {
  font-weight: 600;
}

.tab--paragraph {
  margin-top: 15px;
}